.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
 background-image: url("img/Bg Album.jpg");
}

https://open.spotify.com/album/6pUg9RDDoVyQQVJ48FkmXz
https://open.spotify.com/album/4JnL4N9xWOWrQIF7rCdEXH
